<h1>会員情報編集画面</h1>
<%= form_with model: @customer do |f| %>
<div class="row">
  <div class="col-md-4">
    <h4>氏名</h4>
  </div>
  <div class="col-md-4">
    <%= f.text_field :first_name %>
  </div>
  <div class="col-md-4">
    <%= f.text_field :last_name %>
  </div>
  <div class="col-md-4">
    <h4>フリガナ</h4>
  </div>
  <div class="col-md-4">
    <%= f.text_field :first_name_kana %>
  </div>
  <div class="col-md-4">
    <%= f.text_field :last_name_kana %>
  </div>
  <div>
    <h4>郵便番号</h4>
  </div>
  <div>
    <%= f.text_field :postal_code %>
  </div>
  <div>
    <h4>住所</h4>
  </div>
  <div>
    <%= f.text_field :address %>
  </div>
  <div>
    <h4>電話番号</h4>
  </div>
  <div>
    <%= f.telephone_field :telephone_number %>
  </div>
  <div>
    <h4>メールアドレス</h4>
  </div>
  <div>
    <%= f.email_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "編集内容を保存する" %>
  </div>
</div>
<% end %>
<%= link_to "退会", unsubscribe_path %>