<title>商品編集</title>
<%= form_with model: @item, url: admin_item_path do |f| %>
<table>
  <td>
    <%= f.label :item_image, "商品画像" %><br />
    <%= f.file_field :item_image, accept: "image/*" %>
  </td>
  <td>
   <%= f.label :name, "商品名" %><br />
   <%= f.text_field :name, autofocus: true %>
  </td>
  <td>
    <%= f.label :introduction, "商品説明" %><br />
    <%= f.text_area :introduction %> 
  </td>
  <td>
    <%= f.label :price, "税抜き価格" %><br />
    <%= f.text_field :price %> 円
  </td>
</table>
<%= f.submit "変更を保存" %>
<% end %>