<h1>商品一覧</h1>
<%= @items.each do |item| %>
<div class="row">
  <div>商品ID</div>
  <div><%= item.id %></div>
</div>
  <div class="row">
    <div>商品名</div>
    <div>
      <%= item.name %>
    </div>
  </div>
<div class="row">
  <div>税抜き価格</div>
  <div>
    <%= item.price %>
  </div>
</div>
<% end %>
<%= paginate @items %>
