<h1>注文履歴詳細</h1>
<div class="row">
  <div>購入者</div>
  <div><%= @order.customer_id %></div>
</div>
<div class="row">
  <div>注文日</div>
  <div><%= @order.update_at %></div>
</div>
<div class="row">
  <div>配送先</div>
  <div><%= @order.address %></div>
  <div><%= @order.name %></div>
</div>
<div class="row">
  <div>支払い方法</div>
  <div><%= @order.payment_method %></div>
</div>
<table>
  <%= @item.each do |item| %>
  <th>商品名</th>
  <td><%= @items.name %></td>
  <t
</table>
    
    
<table>
  
</table>
全部<table></table>で記述