<h1>注文情報確認</h1>
<teble>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込み)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td>
        <%= image_tag cart_item.item.get_item_image(100,100) %>
      </td>
      <td>
        <%= cart_item.item.name %>
      </td>
      <td>
        <%= cart_item.item.price %>
      </td>
      <td>
        <%= cart_item.amount %>
      </td>
      <td>
        <%= cart_item.subtotal %>
      </td>
    </tr>
    <% @sum += cart_item.subtotal %>
  </thead>
</teble>
<table>
  <tbody>
    <tr>
      <th>送料</th>
      <td><%= @order.postage %></td>
      <th>商品合計</th>
      <td><%= @sum %></td>
      <th>請求金額</th>
      <td><%= @sum+@order.postage%></td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div>
    支払方法
    <%= @order.payment_method_i18n %>
  </div>
  <div>
    配送先
    <%= @order.postalcode %>
    <%= @order.address %>
    <%= @order.name %>
    
  </div>
</div>
<% end %>
<%= form_with model: @order do |f| %>
<%= f.hidden_field :payment_method, :value => @order.payment_method%>
<%= f.hidden_field :payment_amount, :value => @sum %>
<%= f.hidden_field :postage %>
<%= f.hidden_field :postalcode %>
<%= f.hidden_field :address %>
<%= f.hidden_field :name %>
<%= f.submit "注文を確定する" %>

<% end %>