<h1>商品一覧</h1>
<h4>(全×件)</h4>
<% @items.each do |item| %>
<table>
  <tbody>
    <tr>
      <th>
       
        <%= link_to item_path(item.id) do %>
         <%= image_tag item.get_item_image(100,100) %>
        <% end %>
      </th>
    </tr>
    <tr>
      <th>
        商品名
      </th>
      <td>
        <%= item.name %>
      </td>
    </tr>
    <tr>
      <th>¥</th>
      <td>
        <%= item.price %>
      </td>
    </tr>
 <% end %>

  </tbody>
</table>
<%= paginate @items %>






<!--<div class="row">-->

<!--  <div class="col-3">-->
<!--   <div>-->
<!--     <#%= image_tag item.get_item_image(100,100) %>-->
<!--   </div>-->
<!--   <div>-->
<!--      商品名-->
<!--   </div>-->
<!--   <diV>-->
<!--     <%#= item.name %>-->
<!--   </diV>-->
<!--   <div>-->
<!--     <%#= item.introduction %>-->
<!--   </div>-->
<!--   <div>-->
<!--    ¥ <%#= item.price %>-->
<!--   </div>-->
<!--  </div>-->
<!--</diV>-->
